####################################################
# Project Configuration
####################################################

project_name = "upscale-realestate"

####################################################
# Environment Configuration
####################################################

environment = "development"

####################################################
# AWS Configuration
####################################################

aws_region = "us-east-1"

####################################################
# Resource Owner
####################################################

owner = "Taiwo Justice"

####################################################
# Networking
####################################################

vpc_cidr = "10.0.0.0/16"

public_subnet_a_cidr  = "10.0.1.0/24"
public_subnet_b_cidr  = "10.0.2.0/24"

private_app_subnet_a_cidr = "10.0.11.0/24"
private_app_subnet_b_cidr = "10.0.12.0/24"

private_db_subnet_a_cidr = "10.0.21.0/24"
private_db_subnet_b_cidr = "10.0.22.0/24"